* {
  box-sizing: border-box;
}
:root {
  --primary-color: #ff5b2e;
}
html,
body {
  scroll-behavior: smooth;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  background-color: #fffaf5;
}
/* Common */
.container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}
a {
  display: inline-block;
  text-decoration: none;
  transition: all 0.25s linear;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Sora", sans-serif;
}
.btn {
  border-radius: 31px;
  border: 1px solid #ff5b2e;
  opacity: 0.6;
  box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
  color: var(--primary-color);
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1; /* 100% */
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn:hover {
  color: #fff;
  opacity: 1;
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}
.section__heading {
  color: #000958;
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1.19; /* 119.231% */
}
.section__desc {
  color: #656689;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.87; /* 187.5% */
}
/* HEADER */
.header {
  min-height: 100vh;
  padding: 26px 0 77px;
}
.header-top {
  width: 1169px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-list {
  display: flex;
  align-items: center;
}
.header-item + .header-item {
  margin-left: 36px;
}
.header-item a {
  color: #5e6085;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1; /* 100% */
  transition: all 0.1s linear;
}
.header-item a:hover {
  color: #000958;
  text-shadow: 0.5px 0 0 currentColor;
}
.header-top__action {
  color: #000958;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1; /* 100% */
  padding: 18px 32px;
  border-radius: 25px;
  border: 1px solid #000958;
  opacity: 0.7;
}
.header-top__action:hover {
  opacity: 1;
}

/* Hero */
.hero {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  gap: 282px;
}
.hero-media {
  width: 551px;
  height: 582px;
}

.hero-images {
  display: flex;
  align-items: flex-end;
  position: relative;
}

.hero-media-img {
  object-fit: cover;
  border-radius: 16px;
}
.hero-big {
  height: 488px;
  width: 348px;
}
.hero-medium {
  width: 186px;
  height: 244px;
  position: absolute;
  right: -108px;
  bottom: -58px;
}
.hero-small {
  width: 250px;
  height: 156px;
  position: absolute;
  bottom: -94px;
  right: 64px;
}
.hero-content {
  max-width: 517px;
  margin-top: 108px;
}

.hero-heading {
  color: #000958;
  font-size: 6.6rem;
  font-weight: 800;
  line-height: 1.15; /* 115.152% */
}
.hero-desc {
  margin-top: 24px;
  width: 391px;
  color: #656689;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.875; /* 187.5% */
}
.hero-row {
  margin-top: 38px;
}
.hero-btn {
  display: inline-flex;
  align-items: center;
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1; /* 100% */
  padding: 22px 30px;
  border-radius: 31px;
  background: var(--primary-color);
  box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}
.hero-btn:hover {
  opacity: 0.9;
}
.hero-btn i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: var(--primary-color);
  background-color: #fff;
  font-size: 0.8rem;
  border: 1px solid;
  margin-left: 10px;
}
.hero-link {
  color: #000958;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 16px; /* 100% */
  text-decoration-line: underline;
  margin-left: 24px;
}

/* About  */
.about {
  padding: 53px 0 183px;
}
.about__inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  row-gap: 146px;
}
.about__content {
}
.about__label {
}
.about__heading1 {
  max-width: 446px;
  margin-top: 15px;
}
.about__desc1 {
  margin-top: 24px;
  max-width: 431px;
}
.about__check-list {
  display: grid;
  justify-content: flex-start;
  grid-template-columns: auto auto;
  gap: 40px 36px;
  align-items: center;
  margin-top: 54px;
}
.about__check-item {
  color: #48496a;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1; /* 100% */
  position: relative;
  column-gap: 10px;
  display: flex;
  align-items: center;
  white-space: nowrap;
  margin-left: 34px;
}
.about__check-item::before {
  position: absolute;
  display: block;
  content: "";
  width: 24px;
  height: 24px;
  border-radius: 4px;
  left: -34px;

  background: var(--primary-color);
  box-shadow: 0px 4px 15px -3px rgba(255, 93, 49, 0.69);
}
.about__check-item::after {
  content: "";
  height: 7px;
  width: 11px;
  position: absolute;
  border: 3px solid;
  border-color: transparent transparent #fff #fff;
  rotate: -45deg;
  bottom: 6px;
  left: -30px;
  border-radius: 3px;
}
.about__media {
  display: flex;
}
.about__media--box {
  position: relative;
  width: 136px;
  height: 156px;
  border-radius: 10px;
  padding: 31px 26px 29px;
  background: #5bd6e2;
  box-shadow: -15px 26px 48px 0px rgba(85, 240, 255, 0.17);
  margin-top: 165px;
}
.about__media--box::after {
  right: -32px;
  top: -39px;
  position: absolute;
  content: url(/assets/img/about-media-box.svg);
}
.about__box--number {
  color: #fff;
  text-align: center;
  font-size: 4.2rem;
  font-weight: 700;
  line-height: 1; /* 100% */
}
.about__box--times {
  width: 83px;
  color: #c6f4f9;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.42; /* 142.857% */
  margin-top: 14px;
}
.about__media--images1 {
  position: relative;
  margin-left: -44px;
}
.about__media--images1 img {
  margin-left: 23px;
}
.about__media--images1::before {
  content: url(/assets/img/about-img-decor.svg);
  position: absolute;
  top: 157px;
  right: -50px;
  z-index: -2;
}
.about__media--images1::after {
  content: "";
  position: absolute;
  width: 494px;
  height: 336px;
  border-radius: 16px;
  background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
  box-shadow: 11px 18px 65px 0px rgba(255, 155, 121, 0.12);
  bottom: 0;
  left: 0;
  z-index: -1;
}
.about__media--images2 {
  position: relative;
}
.about__media--images2::after {
  content: "";
  position: absolute;
  width: 458px;
  height: 500px;
  border-radius: 18px;
  border: 2px solid #fff;
  background: linear-gradient(180deg, #c6e2fa 0%, #94c2ea 100%);
  box-shadow: 0px 17px 77px -8px rgba(190, 165, 139, 0.17);
  left: 0;
  z-index: -1;
}
.about__media--images2::before {
  content: url(/assets/img/about-media2-decor.svg);
  position: absolute;
  bottom: -55px;
  right: -42px;
}
.about__heading2 {
  max-width: 543px;
}
.about__desc2 {
  max-width: 511px;
  margin-top: 24px;
}
.about__content--list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid rgba(255, 91, 46, 0.07);
  margin-top: 44px;
}
.about__item--logo {
}
.about__content--item {
  color: #48496a;
  font-family: "Sora", sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1; /* 100% */
  padding: 11px 5px;
}
.about__content--item:hover {
  color: var(--primary-color);
}
.about__content--item i {
  margin-right: 11px;
}
.fa-color1 {
  color: #4c9ee2;
}
.fa-color2 {
  color: #ff5b2e;
}
.fa-color3 {
  color: #fabf3e;
}
.about__content--info {
  color: #656689;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.71; /* 171.429% */
  margin-top: 25px;
}
.about__content--link {
  color: var(--primary-color);
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1; /* 100% */
  border-bottom: 1.5px solid var(--primary-color);
  margin-top: 32px;
}
.service {
  background: #fff6ed;
  padding-top: 68px;
  padding-bottom: 100px;
}
.price__desc,
.member__desc,
.service__desc {
  color: #5e6085;
  text-align: center;
  font-family: "Sora";
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1; /* 100% */
}
.service__content {
  display: grid;
  grid-template-columns: 294px auto 294px;
  gap: 64px;
  margin-top: 71px;
}
.price__heading,
.member__heading,
.service__heading {
  text-align: center;
  margin-top: 15px;
}
.service__box {
  width: 294px;
  height: 208px;
  border-radius: 10px;
  border: 2px solid rgba(255, 188, 122, 0.26);
  background: #fff;
  padding: 30px 22px 30px 28px;
  margin-bottom: 24px;
}
.service__box--heading {
  color: #000958;
  font-family: "Sora";
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1; /* 100% */
  position: relative;
  margin-left: 12px;
}
.service__box--heading::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 22px;
  left: -12px;
  background: linear-gradient(90deg, #ff5b2e 0.39%, #ffa187 100.29%);
}
.service__box--desc {
  color: #656689;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.71; /* 171.429% */
  margin-top: 18px;
}
.service__box--link {
  color: #34396a;
  font-family: "Sora";
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1; /* 100% */
  margin-top: 24px;
}
.service__box--link i {
  color: var(--primary-color);
}
.service__col2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.service__btn {
  width: 214px;
  height: 56px;
  margin-top: 45px;
}

.member {
  padding: 130px 0;
}
.member__desc {
}
.member__heading {
}
.member__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 35px;
}
.member__list--item {
}
.member__item--img {
}

.member__item--duty {
  margin-top: 29px;
  color: #656689;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1; /* 100% */
}
.member__item--name {
  color: #000958;
  text-align: center;
  font-family: "Sora", sans-serif;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1; /* 100% */
  margin-top: 14px;
}
.member__btn {
  width: 193px;
  height: 56px;
  margin: 48px auto 0;
}
/* Price */
.price {
  padding: 86px 0;
  background: #fff6ed;
}
.price__desc {
  display: flex;
  max-width: 709px;
  font-weight: 400;
  line-height: 1.87;
  color: #656689;
  font-family: "Poppins", sans-serif;
  margin: 24px auto 0;
}
.price__option {
  width: 276px;
  height: 56px;
  border-radius: 31px;
  border: 1px solid var(--primary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-top: 38px;
}
.price__option--month {
  color: var(--primary-color);
  padding: 20px 40px;
}
.price__option--year {
  border-radius: 31px;
  background: var(--primary-color);
  color: #fff;
  padding: 20px 40px;
  opacity: 1;
}
.price__list {
  width: 994px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 56px 99px 0 88px;
  column-gap: 44px;
}
.price__item {
  width: 302px;
  height: 465px;
  border-radius: 20px;
  background: #fff;
  padding: 30px 28px 43px;
}
.price__item--level {
  color: var(--primary-color);
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1; /* 100% */
}
.price__item--care {
  color: #3f4065;
  font-family: "Sora", sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1; /* 100% */
  margin-top: 8px;
}
.price__item--price {
  color: #000958;
  font-family: "Sora", sans-serif;
  font-size: 33px;
  margin-top: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 34px; /* 103.03% */
}
.price__item--btn {
  margin-top: 22px;
  padding: 14px 65px;
  box-shadow: none;
  margin-bottom: 24px;
}
.price__item--result {
  margin-bottom: 18px;
  display: block;
  color: #656689;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1; /* 100% */
  position: relative;
  margin-left: 22px;
}

.price__item--result::before {
  position: absolute;
  content: "";
  width: 8px;
  height: 4px;
  background-color: transparent;
  border: 2px solid;
  border-color: transparent transparent var(--primary-color)
    var(--primary-color);
  rotate: -45deg;
  left: -22px;
}
/* Review */
.review__inner {
  display: grid;
  grid-template-columns: 54px 274px 553px 54px;
}

.review__btn--left,
.review__btn--right {
  width: 54px;
  height: 54px;
  border-radius: 50%;
  box-shadow: none;
}
.review__btn--left,
.review__btn--right i {
  font-size: 18px;
}
.review__img {
}
.review__content {
  width: 553px;
}
.review__desc {
  color: #000;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.55; /* 155.556% */
}
